.weekForecast {
  padding-left: 60px;
  margin-bottom: 190px;

  & .weekForecast__header {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  & .weekForecast__days {
    margin-top: 70px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.weatherDay {
  text-align: center;
  margin-right: 40px;

  & .dayOfWeek {
    font-size: 0.813rem;
    color: #A69FB3;
  }

  & .illustration {
    width: 60px;
    margin: 30px 0px 20px;
  }

  & .temperature {
    font-size: 0.938rem;
  }
}