.backgound {
  width: 100%;
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  overflow: hidden;
  z-index: -100;

  & svg {
    width: 200px;
    margin-bottom: 30px;
    
    &:nth-child(odd){
      align-self: self-end;
      animation: slideFromRight 10s ease infinite;
    }

    &:nth-child(even){
      animation: slideFromLeft 10s ease infinite;
    }
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(50%);
  }
}

.townWeather {
  text-align: center;
  position: relative;
  top: 15vmax;

  & .dayInTheTown {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  & .tempertatureInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    & img {
      height: 80px;
    }

    & .tempature {
      font-size: 6rem;
    }
    
    & .value {
      font-size: 2.25rem;
      position: relative;
      bottom: 50px;
    }
  }

  & .theTown {
    font-size: 2.5rem;
  }
}