body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

ul, li, a {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

input {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
}

.weatherBlocks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.interact {
  width: 66%;
}

.townInfo {
  position: absolute;
  top: 0;
  right: 0;
  height: 70vmax;
  width: 33%;
}